<app-header></app-header>
<div class="container pt-5">
    <div class="row animated fade-in">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
    
                    <input type="text" name="" id=""
                    placeholder="Search an user"
                    (keyup)="search(txtSearch.value)"
                    #txtSearch 
                    class="form-control">
    
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row animated fadeIn fast" *ngIf="loading">
        <div class="col-12">
            <div class="alert alert-info text-center">
                <h4 class="alert-heading">
                    Loading...
                </h4>
                <i class="fa fa-spin fa-refresh fa-2x"></i>
                <p class="mb-0">Wait a moment, please</p>
            </div>
        </div>
    </div>
    
    <div class="row" *ngIf="!loading">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Total Users {{total}}</h4>
                    <h6 class="card-subtitle">Registered users in the application</h6>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="w100">Email</th>
                                    <th>First name</th>
                                    <th>Last name</th>
                                    <th class="w140">Role</th>
                                    <th class="w100">Salary</th>
                                    <th class="text-nowrap w100">Action</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users;let i = index">
                                    <!-- <td>{{user.imageURL}}</td> -->
                                    <td class="text-center" >
                                        {{user.user.emailAddress}} {{i}}
                                    </td>
    
                                    <td>{{user.user.firstName}}</td>
                                    <td>{{user.user.lastName}}</td>
                                    <td>
                                        <select class="form-control w140" 
                                            [(ngModel)]="user.role"
                                            (change)="changeRole(user)"
                                        >
                                            <option value="ADMIN_ROLE">Admin</option>
                                            <option value="USER_ROLE">User</option>
                                        </select>
                                        <!-- {{user.role}} -->
                                    </td>
                                    <td>
                                        $<app-salary-input [user]=user #txtSalary 
                                            (onNewSalary)="loadUsers()"
                                        
                                        ></app-salary-input>


                                        <!-- <span *ngIf="!user.user.status"class="label label-info">Inactive</span>   (keyup.enter)="updateSalary(user,txtSalary.value)"-->
                                    </td>
                                    
                                    <td class="text-center">
                                        <div class="row">
                                            <div class="col">
                                                <a class="cursor" data-toggle="tooltip" data-original-title="Edit" (click)="openModal(user)"> 
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                                    </svg>
                                                </a> 
                                            </div>
                                            <div class="col">
                                                <a class="cursor red" data-toggle="tooltip" data-original-title="Delete" (click)="deleteUser(user.user)"> 
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                        
                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
    
                    <!-- <div *ngIf="txtSearch.value.length===0">
                        <button class="btn btn-secondary" (click)="changePage(-1)" >Previous</button>
                        &nbsp;
                        <button class="btn btn-secondary" (click)="changePage(1)">Next</button>
    
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    
</div>
